@mixin centerChildren {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin spaceBetweenChildren {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
