// path aliasing is import in setting the path to the image when using this mixin to help webpack resolve such
// eg $uri = ~@images/[a_directory_inside_images_in_src]/[an_image_file].[the_extention]
@mixin icon($uri, $w: 100%, $h: 100%) {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: $w;
    height: $h;
    background-image: url($uri);
    background-size: cover;
  }
}
