[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
pytest = "*"
behave = "*"
robotframework = "*"
beautifulsoup4 = "*"
autopep8 = "*"
pyyaml = "*"
html-testrunner = "*"

[dev-packages]
black = "*"
isort = "*"
flake8 = "*"

[requires]
python_version = "3.9"
